1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [22]:
a = [i for i in range (1,101)]
#print (a)
for i in range (0,100):
    if a[i]%15==0:
        a[i]="Mickey Mouse"
    elif a[i]%3==0:
        a[i]="Mickey"
    elif a[i]%5==0:
        a[i]="Mouse"
for i in range (0,100):
    if type(a[i]) == str:
        a[i]=a[i].replace ("Mickey","Donald")
        a[i]=a[i].replace ("Mouse","Duck")

b = tuple(a)

'''for i in range (0,100):
     if a[i]=="Mickey":
        a[i]="Mickey Mouse"
    elif a[i]%3==0:
        a[i]="Mickey"
    elif a[i]%5==0:
        a[i]="Mouse"'''
print (a)
print (b)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swaps the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [23]:
a,b = 2,4
a,b = b,a
print (a,b)

4 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [25]:
A,B = (3,0),(0,4)
d = pow (pow(A[0]-B[0],2)+pow(A[1]-B[1],2),0.5)
print (d)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [41]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse".lower()
#c = [x for x in s]
a=[]
for x in s:
    if x not in a:
        print(x,s.count(x))
        a.append(x)

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [29]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

for x in l:
    d=0
    for y in l:
        if x==y:
            d +=1
    if d == 1:
        print (x,d)

58 1
74 1
96 1
64 1
10 1
24 1
19 1
33 1
86 1
99 1
18 1
47 1
88 1
55 1
54 1
8 1
79 1
81 1
57 1
37 1
1 1
9 1
95 1
90 1
98 1
39 1
16 1
82 1
92 1
41 1
30 1
94 1
5 1
72 1
87 1
75 1
53 1

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [44]:
def square(a):
    s = pow(a,2)
    return s
def cube(a):
    c = pow(a,3)
    return c
def sixth(a):
    x=square(cube(a))
    return x

print (square(2),cube(2),sixth(2))

4 8 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [52]:
c = [i**3 for i in range (1,11)]
print (c)
d = []
for i in range (1,11):
    d.append(i**3)
print (d)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [61]:
t = []
for a in range (1,101):
    for b in range (1,101):
        c = ((a**2+b**2)**0.5)
        if c < 100:
            if c == int(c):
                t.append(a)
                t.append(b)
                t.append(c)
k = tuple(t)
print (k)

(3, 4, 5.0, 4, 3, 5.0, 5, 12, 13.0, 6, 8, 10.0, 7, 24, 25.0, 8, 6, 10.0, 8, 15, 17.0, 9, 12, 15.0, 9, 40, 41.0, 10, 24, 26.0, 11, 60, 61.0, 12, 5, 13.0, 12, 9, 15.0, 12, 16, 20.0, 12, 35, 37.0, 13, 84, 85.0, 14, 48, 50.0, 15, 8, 17.0, 15, 20, 25.0, 15, 36, 39.0, 16, 12, 20.0, 16, 30, 34.0, 16, 63, 65.0, 18, 24, 30.0, 18, 80, 82.0, 20, 15, 25.0, 20, 21, 29.0, 20, 48, 52.0, 21, 20, 29.0, 21, 28, 35.0, 21, 72, 75.0, 24, 7, 25.0, 24, 10, 26.0, 24, 18, 30.0, 24, 32, 40.0, 24, 45, 51.0, 24, 70, 74.0, 25, 60, 65.0, 27, 36, 45.0, 28, 21, 35.0, 28, 45, 53.0, 30, 16, 34.0, 30, 40, 50.0, 30, 72, 78.0, 32, 24, 40.0, 32, 60, 68.0, 33, 44, 55.0, 33, 56, 65.0, 35, 12, 37.0, 35, 84, 91.0, 36, 15, 39.0, 36, 27, 45.0, 36, 48, 60.0, 36, 77, 85.0, 39, 52, 65.0, 39, 80, 89.0, 40, 9, 41.0, 40, 30, 50.0, 40, 42, 58.0, 40, 75, 85.0, 42, 40, 58.0, 42, 56, 70.0, 44, 33, 55.0, 45, 24, 51.0, 45, 28, 53.0, 45, 60, 75.0, 48, 14, 50.0, 48, 20, 52.0, 48, 36, 60.0, 48, 55, 73.0, 48, 64, 80.0, 51, 68, 85.0, 52, 39, 65.0, 54, 72, 90.0, 55, 48, 73.0, 56, 33, 65.0, 56, 42, 70.0, 57, 76, 95.0, 60, 11, 61.0, 60, 25, 65.0, 60, 32, 68.0, 60, 45, 75.0, 60, 63, 87.0, 63, 16, 65.0, 63, 60, 87.0, 64, 48, 80.0, 65, 72, 97.0, 68, 51, 85.0, 70, 24, 74.0, 72, 21, 75.0, 72, 30, 78.0, 72, 54, 90.0, 72, 65, 97.0, 75, 40, 85.0, 76, 57, 95.0, 77, 36, 85.0, 80, 18, 82.0, 80, 39, 89.0, 84, 13, 85.0, 84, 35, 91.0)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [73]:
def norm(a):
    d=0
    for i in a:
        d += i**2
    d = d**(1/2)
    b = []
    for i in a:
        b.append(i/d)
    return b
print (norm((1,0,1)))

2
1.4142135623730951
[0.7071067811865475, 0.0, 0.7071067811865475]